# Configurações dos Bancos de Dados (Silver & Gold)
DATABASE_URL_SILVER=sqlite:///./bd/app_silver.db
DATABASE_URL_GOLD=sqlite:///./bd/app_gold.db

# Configurações da Aplicação
ENVIRONMENT=development

# Configurações Databricks CLI (Usado pelo upload_to_databricks.py)
DATABRICKS_HOST=https://seu-workspace.cloud.databricks.com/
DATABRICKS_TOKEN=dapi...seu_token_aqui...
DATABRICKS_DEST_DIR=dbfs:/FileStore/landing-bronze/